.card {
  display: grid;
  grid-template-columns: 1.2fr 1.5fr;
  /* align-items: center; */
  border-top: 0.2px solid #636363;
  border-bottom: 0.2px solid #636363;
}

.list-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #000;
}

.list-button a {
  cursor: pointer;
  border: 1px solid white;
  padding: 36px;
  border-radius: 80px;
}
