.footer-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.footer-contact {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

.footer-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-images img {
  position: absolute;
}

.footer-images img:nth-child(1) {
  top: 200px;
  width: 250px;
}

.footer-images img:nth-child(2) {
  left: 250px;
  width: 250px;
}

.footer-images img:nth-child(3) {
  top: 150px;
  right: 100px;
  width: 250px;
}
